/*Body*/
body {
    color:rgb(0, 52, 100);
    font-family: 'Calibri', serif;
    text-align: start;
    background-color: rgb(56, 56, 56);
}

textarea {
    font-family: 'Calibri', serif;
}

ul {
    list-style-type: square;
}

#box-mid-body {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 193, 238);
}

#box-container-body {
    display: flex;
    height: 100%;
    justify-content: center;
}

#content {
    margin-left: 30px;
}


/*Navigation bar*/
header {
    padding: 20px 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header a {
    padding: 40px 20px;
    margin: 0px;
}

.nav {
    text-align: start;
}

.nav a {
    text-decoration: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(28, 0, 128);
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: rgb(7, 0, 100);
}

.nav a.active {
    background-color: rgb(17, 0, 172);
}

/*Table Dashboard*/
td {
    border: 2px solid rgb(56, 56, 56);
}

/*Progress bar*/
#flexbox-container {
    display: flex;
    height: 21px;
    width: 600px;
    background-color: rgb(115, 193, 238);
    border: 3px solid rgb(56, 56, 56);
}

#flexbox-progress {
    background-color: rgb(56, 56, 56);
    /*In width, adjust the percentage based on your progress. (also in dashboard.blade.php)*/
    width: 46%;
    height: 23px;
    text-align: center;
    margin: 0px;
    color: white;
}

/*CRUD forms*/
.resizedTextbox {
    width: 89%;
    height: 10em;
    padding: 1px;
}

/*BULMA Danger*/
.help.is-danger {
    color: #f14668;
    font-size: x-small;
}

.is-danger.input, .is-danger.textarea {
    border-color: #f14668;
}

.is-danger.input:focus, .is-danger.textarea:focus, .is-danger.is-focused.input, .is-danger.is-focused.textarea, .is-danger.input:active, .is-danger.textarea:active, .is-danger.is-active.input, .is-danger.is-active.textarea {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}
